

<nav class="navbar navbar-expand-lg navbar-light  "style="background-color: #000000;">
  <div class="container-fluid">
    
    <button type="button" class="btn btn-link"><a href = "/">
    <img src="https://i.imgur.com/9NFQs4k.png"  class="rounded mx-auto d-block" width = '400' height = '80' alt="...">
    <!--<a class="navbar-brand" href="#">首頁</a>-->
    </a>  
    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav" ><!--上方選單---->

        <li class="nav-item">
          <a class="nav-link"> &nbsp;      </a>
        </li>
      
        <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          Menu
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color:black;">
          <div class="offcanvas-header">
            
            
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
              <img src="https://upload.cc/i1/2021/06/17/HOWo1a.jpg" class="center" width = '200' height = '200' alt="...">
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              <span style="color:white;font-weight:bold;" >由三個電通系的小朋友所製作...</span>
            </div>
            <div class="dropdown mt-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                2017~2021年排行
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">2021</a></li>
                <li><a class="dropdown-item" href="#">2020</a></li>
                <li><a class="dropdown-item" href="#">2019</a></li>
                <li><a class="dropdown-item" href="#">2018</a></li>
                <li><a class="dropdown-item" href="#">2017</a></li>
              </ul>
            </div>

            <div class="dropdown mt-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                亞洲地區
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">日本</a></li>
                <li><a class="dropdown-item" href="#">韓國</a></li>
                <li><a class="dropdown-item" href="#">印度</a></li>
                <li><a class="dropdown-item" href="#">泰國</a></li>
              </ul>
            </div>

            <li class="nav-item">
              <a class="nav-link" href="#"><button type="button" class="btn btn-secondary">在台上映電影</button></a>
            </li> 

            <div class="dropdown mt-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                全球電影排行
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/rank_chapion_world/">全球排行</a></li>
                <li><a class="dropdown-item" href="#">全球年度票房冠軍</a></li>
              </ul>
            </div>
          </div>
        </div>




        <li class="nav-item">
          <a class="nav-link"> &nbsp;&nbsp;       </a>
        </li>


        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <li class="nav-item "  >
          <a class="nav-link" href="/admin"><font color="#ffa31a" ><strong>後台管理</strong></font></a>
        </li>
        
          
          
        
      </ul> <!--上方選單-->
    </div>
  </div>
</nav>