

<nav class="navbar navbar-expand-lg navbar-light  "style="background-color: #000000;">
  <div class="container-fluid">
    
    <button type="button" class="btn btn-link"><a href = "/">
    <img src="https://i.imgur.com/9NFQs4k.png"  class="rounded mx-auto d-block" width = '400' height = '80' alt="...">
    <!--<a class="navbar-brand" href="#">首頁</a>-->
    </a>  
    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav" ><!--上方選單---->

        <li class="nav-item">
          <a class="nav-link"> &nbsp;      </a>
        </li>
      
        <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          Menu
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color:black;">
          <div class="offcanvas-header">
            
            
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
              <img src="https://upload.cc/i1/2021/06/17/HOWo1a.jpg" class="center" width = '200' height = '200' alt="...">
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            
            <p ><span style="color:white;font-family:微軟正黑體;font-size:25px;font-weight:bold;">台灣全國電影票房統計資訊</span></p>
            <ur>
              <li><a href="/Tawain_movies_rank_2021_show/" class="text-decoration-none"><span style="color:white;font-size:20px;">2021</span></a></li>
              <li><a href="/Tawain_movies_rank_2020_show/" class="text-decoration-none"><span style="color:white;font-size:20px;">2020</span></a></li>
              <li><a href="/Tawain_movies_rank_2019_show/" class="text-decoration-none"><span style="color:white;font-size:20px;">2019</span></a></li>
              <li><a href="/Tawain_movies_rank_2018_show/" class="text-decoration-none"><span style="color:white;font-size:20px;">2018</span></a></li>
              <li><a href="/Tawain_movies_rank_2017_show/" class="text-decoration-none"><span style="color:white;font-size:20px;">2017</span></a></li>
            </ur>
            <hr style="color:white;">
            <p ><span style="color:white;font-family:微軟正黑體;font-size:25px;font-weight:bold;">亞洲地區電影總票房排行</span></p>
            <ur>
              <li><a href="/Taiwan/" class="text-decoration-none"><span style="color:white;font-size:20px;">台灣</span></a></li>
              <li><a href="/japan/" class="text-decoration-none"><span style="color:white;font-size:20px;">日本</span></a></li>
              <li><a href="/korea/" class="text-decoration-none"><span style="color:white;font-size:20px;">韓國</span></a></li>
              <li><a href="/indea/" class="text-decoration-none"><span style="color:white;font-size:20px;">印度</span></a></li>
              <li><a href="/Thailand/" class="text-decoration-none"><span style="color:white;font-size:20px;">泰國</span></a></li>
            </ur>
            <hr style="color:white;">
            <p ><span style="color:white;font-family:微軟正黑體;font-size:25px;font-weight:bold;">台灣上映電影排行</span></p>
            
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                電影類型
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a href="/documentary/" class="text-decoration-none"><span style="color:white;font-size:20px;">紀錄片</span></a></li>
                <li><a href="/scary/" class="text-decoration-none"><span style="color:white;font-size:20px;">驚悚片</span></a></li>
                <li><a href="/musical/" class="text-decoration-none"><span style="color:white;font-size:20px;">歌舞片</span></a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </div>

            <hr style="color:white;">
            <p ><span style="color:white;font-family:微軟正黑體;font-size:25px;font-weight:bold;">在台電影票房排行</span></p>
            
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="true">
                包刮國外
              </button>
  
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a href="/Box_office_best_tw_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">總票房排行</span></a></li>
                <li><a href="/Box_office_champion_year_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">年度票房冠軍</span></a></li>
                <li><a href="/Box_office_opening_first_week_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">首週開片票房</span></a></li>
                <li><a href="/First_day_box_office_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">首日票房</span></a></li>
                <li><a href="/Single_day_box_office_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">單日票房</span></a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
              <a>&emsp;</a>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  只限定本土
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a href="/Box_offic_rank_local/" class="text-decoration-none"><span style="color:white;font-size:20px;">總票房排行</span></a></li>
                  <li><a href="/Box_office_champion_year_tw_local/" class="text-decoration-none"><span style="color:white;font-size:20px;">年度票房冠軍</span></a></li>
                  <li><a href="/Box_office_opening_first_week_tw_local/" class="text-decoration-none"><span style="color:white;font-size:20px;">首週開片票房</span></a></li>
                  <li><a href="/First_day_box_office_tw_local/" class="text-decoration-none"><span style="color:white;font-size:20px;">首日票房</span></a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
            </div>

            <hr style="color:white;">
            <p ><span style="color:white;font-family:微軟正黑體;font-size:25px;font-weight:bold;">在台動畫電影票房排行</span></p>
            
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                排行榜
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a href="/anime_chapion_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">總票房排行</span></a></li>
                <li><a href="/Box_office_anime_champion_year_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">年度票房冠軍</span></a></li>
                <li><a href="/Box_office_opening_first_week_anime_global/" class="text-decoration-none"><span style="color:white;font-size:20px;">首週開片票房</span></a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </div>

            <hr style="color:white;">
            <p ><span style="color:white;font-family:微軟正黑體;font-size:25px;font-weight:bold;">全球電影票房排行</span></p>
            <ur>
              <li><a href="/world50/" class="text-decoration-none"><span style="color:white;font-size:20px;">前50名</span></a></li>
              <li><a href="/champofyear/" class="text-decoration-none"><span style="color:white;font-size:20px;">當年度票房冠軍 </span></a></li>
             
            </ur>

          </div>
        </div>




        <li class="nav-item">
          <a class="nav-link"> &nbsp;&nbsp;       </a>
        </li>


        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <li class="nav-item "  >
          <a class="nav-link" href="/admin"><font color="#ffa31a" ><strong>後台管理</strong></font></a>
        </li>
        
          
          
        
      </ul> <!--上方選單-->
    </div>
  </div>
</nav>