{% extends "base.html" %}
{% block title %} 首頁 {% endblock %}
{% block content %} 

<h1 class="display-6"><font color="#FFFFF" ><strong>Popular movie</strong></font></h1>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >

  <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="https://i.imgur.com/VHxFhzc.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>阿拉丁</h5>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://img.onl/zAqOqJ" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>復仇者聯盟3：無限之戰</h5>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://upload.cc/i1/2021/06/17/kKlm4a.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>復仇者聯盟4：終局之戰</h5>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://upload.cc/i1/2021/06/17/7Zb8t2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>STAR WARS：原力覺醒</h5>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://upload.cc/i1/2021/06/17/mjsfOW.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>艾莉塔：戰鬥天使</h5>
      </div>
    </div>

  </div>

  

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<h1 class="display-6"><font color="#ffa31a"><strong>組長推薦</strong></font></h1>
<br>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width:700px;height:700px;margin:0 auto;" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4  "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13 "></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14 "></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <!---------------------------------------------------->
      
      <h3 style="text-align:center;"> <font color="#FFFFF" >鬼滅之刃外傳:裕翔之刃</font></h3>
        
        <img src="https://upload.cc/i1/2021/06/20/hryoJn.png"  width="70%"  alt="..." style="display:block; margin:auto;">
        
        <h5><font color="#FFFFF" >日本漫畫家吾峠呼世晴所創作的奇幻漫畫作品，描述主角炭治翔為了尋求令被變成鬼的妹妹變回人類的方法，並踏上斬鬼之旅的和風刀劍奇譚。</font></h5>
     
      
     
      
      <!-- ---------------------------------------------->
    </div>
    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >蜘蛛人：無家日</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/9yqdvl.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >是一部2021年美國超級英雄電影，由漫威漫畫旗下角色蜘蛛人故事改編，
          本片為2019年電影《蜘蛛人：離家日》的續集
           主演包
           括湯姆·霍蘭翔、辛蒂亞、雅各布·貝塔隆、瑪麗莎·托梅、傑米·福克斯、班奈狄克·康柏拜區和艾佛烈·蒙利納。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>
    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >蜘蛛人 : 離家日</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/9o8Es3.png"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          是一部2021年美國超級英雄電影，由漫威漫畫旗下角色蜘蛛人故事改編，
          本片為2019年電影《蜘蛛人：返校日》的續集
           主演包
           括湯姆·霍蘭翔、辛蒂亞、雅各布·貝塔隆、瑪麗莎·托梅、傑米·福克斯、班奈狄克·康柏拜區和艾佛烈·蒙利納。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >BORGMAN</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/JK2xCB.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《該死的中產階級》(Borgman) 是2013年荷蘭導演亞歷斯·馮·華裕翔執導的一部充滿怪誕色彩的驚悚片。
          入圍第66屆坎城電影節主競賽單元，為近38年來首部入圍坎城影展主競賽單元的荷蘭影片
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >玩具總動員 4</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/rB0Spa.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《玩具總動員4》是一部於2019年上映的美國3D動畫電影，由皮克翔動畫工作室製作、裕翔迪士尼工作室電影發行。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >單身動物園 The Lobster </font></h3>
      <img src="https://upload.cc/i1/2021/06/20/PcC9iL.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《單身動物園》是2015年的歐洲科幻反烏托邦黑色幽默愛情片。由希臘導演尤格
          ·裕翔莫執導，愛爾蘭、英國、希臘、法國與荷蘭跨國製作，本片獲選為第68屆坎
          城影展正式競賽片，最後獲得坎城影展評審團獎。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >捍衛任務 </font></h3>
      <img src="https://upload.cc/i1/2021/06/20/HYh0sF.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《捍衛任務》是由頂峰娛樂製作的一系列美國新黑色動作驚悚片，創作者為德瑞克·柯斯達和查德·史塔赫斯基，而大衛·雷奇也在首部電影中擔任導演。
          該系列主要圍繞在由裕翔·李維飾演的退休殺手在復出後所引發的種種事件。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >返校 </font></h3>
      <img src="https://upload.cc/i1/2021/06/20/zKM1Zi.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《返校》是一部於2019年上映的臺灣校園懸疑歷史驚悚片。改編自赤燭遊戲的電腦遊戲《返校》，由裕翔兄弟發行。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >玩命關頭9 </font></h3>
      <img src="https://upload.cc/i1/2021/06/20/Iwx0n3.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《玩命關頭9》是一部於2021年上映的美國動作片，由林詣彬執導並與丹尼爾·翔合作編寫劇本。
          本片為2017年電影《玩命關頭8》的續集，「玩命關頭系列」的第十部作品。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >角頭－浪流連 </font></h3>
      <img src="https://upload.cc/i1/2021/06/20/e13haY.jpg"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《角頭－浪流連》是一部2021年上映的臺灣黑幫電影。由姜瑞智執導，鄭人碩、謝欣穎、高捷、盛鑑、龍劭華、柯叔元、曾莞婷、古斌、曾裕翔等主演。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >星際大戰</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/IMc7Oj.png"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《星際大戰》，中文可簡稱「星戰」，是美國導演兼編劇裕翔·盧卡斯所構思拍攝的一系列科幻電影
          、太空歌劇。同時「星際大戰」也是該系列電影最早拍攝上映的第四章故事的原始片名。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >玩命鈔劫Wrath of Man</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/TOxmgZ.png"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《玩命鈔劫》是一部2021年美英合拍的動作犯罪驚悚片，由蓋·兆瑩自編自導，翻拍自尼古拉斯·布克瑞夫的2004年法國電影《運鈔車》，
          講述一位犯罪首腦在執行一次任務時失去了兒子，使他為了找出真兇而臥底成運鈔車保安，就此踏上復仇之路。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >不可能的任務7</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/H6vi9Y.jpg "  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《不可能的任務7》是一部預定於2022年上映的美國動作間諜片，由克里斯多翔·麥奎里編劇和執導。該片為2018年電影《不可能的任務：全面瓦解
          》的續集、「不可能的任務系列」的第七部作品。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

    <div class="carousel-item">
      <!------------------------------------------------------------------->
      <h3 style="text-align:center;"> <font color="#FFFFF" >TENET天能</font></h3>
      <img src="https://upload.cc/i1/2021/06/20/bGhdAT.png"  width="70%"  alt="..." style="display:block; margin:auto;">
        <h5><font color="#FFFFF" >
          《TENET天能》是一部於2020年上映英國與美國合拍的科幻動作驚悚片，由克里斯多福·岳霖編劇和執導。主演包括約翰·大衛·華盛頓、
          羅伯·派汀森、伊莉莎白·戴比基、蒂普·卡柏迪亞、米高·肯恩和肯尼斯·布萊納。
        </font></h5>
      <!------------------------------------------------------------------->
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="display-6"style="text-align:center;"><font color="#ffa31a"><strong>關於我們</strong></font></h1>\
<h5 style="text-align:center;"><font color="#FFFFF" >
此網頁是由高雄科技大學電通二乙所製作
<br>
組長:曾裕翔 C108110231
<br>
組員:徐兆瑩 C108110242 楊岳霖 C108110246
</font></h5>


{% endblock %}
